body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-bottom: 1rem;
}

main{
    border: 1px solid black;
    border-radius: 1rem;
    width: 30%;
    padding: 1rem;
}

section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 50%;
    figure{
        margin: 0 auto;
        img{
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
    

    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        button{
            border-radius: 1rem;
            height: 1.5rem;
            margin-bottom: 1rem;
        }
        input{
            border-radius: 1rem;
            text-align: center;
            font-size: 1rem;
            width: 50%;
        }
    }
}

p{
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    min-height: 1.5vh;
    border: 1px dashed black;
    border-radius: 1rem;
    margin-top: 3rem;
    width: 100%;
    align-self: center;
}
